* {
	margin: 0;
	padding: 0;
}
body {
	height: auto;
	padding: 40px;
	padding-top: 10px;
	background-color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.header {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.header hr {
	color: #ffffff;
}

.header img {
	margin-left: 47.5%;
}

.header h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	font-family: algerian;
}

.header h4 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 13px;
	font-family: constantia;
}

.header h4 img {
	width: 20px;
	height: 16px;
	margin-left: 1180px;
}

.header h5 {
	display: inline;
}

.container {
	width: 100%;
	display: flex;
  	float: left;
 }

.container .column-1 {
 	width: 30%;
 	height: auto;
 	float: left;
 	border-right: 1px solid #bbbbbb;
}


.column-1 h2 {
	margin-bottom: 0;
	font-size: 20px;
}

.column-1 h6 {
	margin-top: 8px;
	font-family: arial;
	margin-bottom: 10px;
}

.column-1 h3 {
	font-size: 17px;
	font-family: cambria;
	font-weight: normal;
	margin-bottom: 20px;
}

.column-1 h3 img {
	width: 170px;
	height: 100px;
	margin-left: 0;
	margin-right: 10px;
	float: right;
}

.column-1 hr {
	width: 98%;
	color: #ffffff;
}

.container .column-2 {
 	width: 40%;
 	height: auto;
 	border-right: 1px solid #bbbbbb;
 	padding: 20px;
 	padding-top: 0;
 }

 .column-2 img {
 	width: 100%;
 }

 .column-2 a {
 	text-decoration: none;
 	color: #000000;
 }

 .column-2 h2 {
 	margin-top: 0;
 	font-family: constantia;
 	font-weight: bold;
 }

 .column-2 h6 {
 	margin-top: 10px;
 	font-family: arial;
 	font-size: 17px;
 	font-weight: normal;
 	margin-bottom: 10px;
 }

 .column-2 h3 {
 	font-family: cambria;
 	font-weight: normal;
 	margin-bottom: 20px;
 }

 .column-2 hr {
 	color: #ffffff;
 }

 .column-2 h4 {
 	margin-top: 10px;
 	font-size: 19px;
 	font-family: Bodoni MT;
 }

 .column-2 h3 img {
 	width: 170px;
 	height: 120px;
 	margin-left: 0;
 	margin-right: 10px;
 	float: right;
 }

 .container .column-3 {
 	width: 30%;
 	height: auto;
 	padding: 50px;
 	padding-right: 0;
 	padding-top: 0;
 }

 .column-3 a {
 	text-decoration: none;
 }

 .column-3 h4 {
 	margin-top: 0;
 	color: #bb2222;
 	font-family: constantia;
 	margin-bottom: 0;
 	text-transform: uppercase;
 }

 .column-3 hr {
 	width: 5%;
 	color: #bb2222;
 	float: left;
 	margin-top: 2px;
 }

 .column-3 img {
 	width: 350px;
 	height: 250px;
 }

 .column-3 h3 {
 	padding-top: 20px;
 	font-family: constantia;
 	color: #000000;
 }

 .column-3 h5 {
 	font-size: 18px;
 	font-weight: normal;
 	font-family: cambria math;
 	margin-top: 10px;
 	margin-bottom: 18px;
 }

 .column-3 h6 {
 	margin-top: 10px;
 	font-size: 14px;
 	font-weight: normal;
 	font-family: arial;
 }

 .column-3 .circle {
 	width: 50px;
 	height: 50px;
 	border-radius: 100px;
 	float: right;
 }